# Ignore data files
*.mhd
*.raw

# Ignore meshes (large files)
*Mesh.inp
*KUBCs.inp

# Ignore Medtool python files
*abqSeReader.py
*dpUtils.py

# Ignore reference publications
*Cai2019.pdf
*Fan2021.pdf