# Ignore data files
*.mhd
*.raw

# Ignore abaqus input files
*.inp

# Ignore Medtool python files
*abqSeReader.py
*dpUtils.py

# Ignore literature files
Literature*

# Ignore medtool backup file
*.bak

# Ignore python compiled files
*.pyc

# Ignore inkscape files
*.svg
