# Ignore data files
*.mhd
*.raw

# Ignore abaqus input files
*.inp

# Ignore Medtool python files
*abqSeReader.py
*dpUtils.py

# Ignore reference publications
*Cai2019.pdf
*Fan2021.pdf

# Ignore medtool backup file
*.bak

# Ignore python compiled files
*.pyc

# Ignore blender files
*.blend

# Ignore inkscape files
*.svg